NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_COFHE_RPC_URL=
BACKEND_PRIVATE_KEY=
ESCROW_CONTRACT_ADDRESS="0x..."
PUSDC_WRAPPER_ADDRESS="0x..."
GROQ_API_KEY=gsk_your_groq_api_key_here